@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
body {
  font-family: "Poppins";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.auth-page {
  text-align: center;
  padding-top: 200px;

  h1 {
    margin-bottom: 50px;
  }

  .tabs {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 50%;
    margin: 0 auto;
    .tab {
      background-color: #eee;
      padding: 5px 10px;
      cursor: pointer;
      width: 40%;
      &:hover {
        background-color: #696969;
      }
      &.active {
        background-color: rgb(62, 134, 241);
      }
    }
  }

  .forms {
    margin: 0 auto;
    padding-top: 10px;
    background-color: #eee;
    background-color: rgb(62, 134, 241);

    width: 50%;
  }

  button {
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: none;
    margin: 5px;
    font-size: 18px;
    background-color: #eee;
  }

  .form-row {
    display: flex;
    justify-content: center;
  }
  .show-form {
    cursor: pointer;
    color: rgb(44, 181, 250);
  }

  label {
    width: 100px;
    margin: 5px;
    display: block;
    text-align: right;
  }

  input {
    padding: 5px;
    outline: none;
    margin: 5px;
  }
}

.chat-page {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  background-color: antiquewhite;
  aspect-ratio: 2/1;
  position: relative;

  header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    // height: 100px;
    border: 1px solid black;
    padding: 10px 20px;
    align-items: center;

    .chatname {
      display: flex;
      gap: 10px;
      cursor: pointer;
      .copy-chatname {
      }
      .copy-info {
        color: blue;
      }
    }

    .exit {
      cursor: pointer;
      display: flex;
      grid-template: 5px;
      color: #c20404;
      filter: invert(14%) sepia(99%) saturate(7488%) hue-rotate(1deg) brightness(101%) contrast(103%);
      &:hover {
        filter: invert(7%) sepia(89%) saturate(6746%) hue-rotate(9deg) brightness(124%) contrast(109%);
      }
    }
  }

  aside {
    padding: 5px 10px;
    .user-row {
      margin: 5px;
      .user-client {
        font-weight: 700;
      }
    }
  }

  main {
    display: flex;
    aside {
      flex: 1 1 20%;
      border: 1px solid black;
      height: 100%;
    }
    .chat-container {
      flex: 1 1 80%;
      .messages {
        padding: 0 30px;
        padding-bottom: 100px;
        height: 95%;
        width: 100%;
        background-color: bisque;
        overflow-y: scroll;
        .message {
          // padding: 0 10px;
          display: flex;
          .timestamp {
            font-size: 12px;
            align-items: center;
            color: #696969;
            margin: 0 10px;
            align-self: flex-end;
            position: relative;
            // left: -30px;
            top: -10px;
            font-size: 10px;
          }
          .text {
            padding: 10px 30px;
            margin: 10px;
            background-color: #eee;
            border-radius: 5px 15px 5px 15px;
            // min-width: 100px;
            text-align: center;
            max-width: 500px;
            word-wrap: anywhere;
            display: flex;
          }
          &.message-client {
            justify-content: flex-end;
            .text {
              border-radius: 15px 5px 15px 5px;
            }
          }
          &.message-bot {
            width: 100%;
            padding: 0;
            justify-content: center;
            align-items: center;
            color: #696969;
            flex-direction: column;
            .timestamp {
              align-self: center;
              font-size: 12px;
              position: relative;
              top: 5px;
            }
            .text {
              padding: 0;
              background-color: inherit;
              border-radius: 0;
              font-weight: 500;
              margin: 0;
            }
          }
        }
      }

      .footer {
        display: flex;
        height: 50px;

        input {
          width: 100%;
          height: 50px;
          outline: none;
          font-size: 18px;
          padding: 10px;
        }
        button {
          width: 100px;
          font-size: 18px;

        }
      }
    }

    background-color: #fff;
    width: 100%;
    height: 100%;
  }
}
